@import url("https://fonts.googleapis.com/css?family=Roboto:300");
:root {
  --main-color:  rgba(242, 242, 242, 1); 
  --upd-color: rgb(17, 17, 17);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
}
.container{
  margin-top: 70px;
  margin-left: 100px;
}
.title{
  font-size: 35px;
  margin-left: 280px;
  margin-left: 480px;
}
.sections{
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-left: 270px;
}
.selected{
  background-color: var(--upd-color);
  color: white;
}
.men{
  display: flex;
  width: 280px;
  height: 50px;
  background-color:var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
.women{
  display: flex;
  width: 280px;
  height: 50px;
  background-color:var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
.kids{
  display: flex;
  width: 280px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
svg{
  margin-top: 15px;
  margin-left: 100px;
}
.sectxt{
  font-size: 20px;
  font-weight: 600;
  margin-top: 17px;
  margin-left: 10px;
}
.display{
  display: flex;
  margin-top: 60px;
  margin-left: 30px;
}
.card1{
  height: 400px;
  width: 300px;
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
}
.imgsec{
  border-radius: 10px;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 60%;
  display: block;
  
}
.imgsec img {
  width: 100%;
  height: 100%; /* Make the image width 100% of the parent (.imgsec) */
  display: block; /* Remove extra spacing below the image */
}
.header{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 18px;
}
.dot{
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin-top: 19px;
}
.pricetag{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 15px;
}
.actualprice{
  text-decoration: line-through;
  color: rgba(143, 143, 143, 1);
}
.discountprice{
  color:  rgba(255, 55, 55, 1);
}
.button{
  width: 99%;
  height: 45px;
  border-radius: 10px;
  background-color: black;
  margin-top: 11px;
  margin-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.tab{
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1); /* Adjust the background color and opacity as needed */
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Optional: Add border-radius for a rounded button appearance */
  cursor: pointer;
}
.prodname{
  font-size: 14px;
}